<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.spring.components.learning.transaction.dao.JdGoodsMapper">
<cache/> <!--二级缓存配置namespace-->
  <resultMap id="BaseResultMap" type="com.github.spring.components.learning.transaction.pojo.JdGoods">
    <!--@mbg.generated-->
    <!--@Table `jd_goods`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title_link" jdbcType="VARCHAR" property="titleLink" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `id`, `title`, `title_link`, `thumbnail`, `rate`, `shop_name`, `operate`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `jd_goods`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `jd_goods`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.spring.components.learning.transaction.pojo.JdGoods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `jd_goods` (`title`, `title_link`, `thumbnail`, 
      `rate`, `shop_name`, `operate`
      )
    values (#{title,jdbcType=VARCHAR}, #{titleLink,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{operate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.spring.components.learning.transaction.pojo.JdGoods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `jd_goods`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null and title != ''">
        `title`,
      </if>
      <if test="titleLink != null and titleLink != ''">
        `title_link`,
      </if>
      <if test="thumbnail != null and thumbnail != ''">
        `thumbnail`,
      </if>
      <if test="rate != null and rate != ''">
        `rate`,
      </if>
      <if test="shopName != null and shopName != ''">
        `shop_name`,
      </if>
      <if test="operate != null and operate != ''">
        `operate`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleLink != null and titleLink != ''">
        #{titleLink,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null and thumbnail != ''">
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="rate != null and rate != ''">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null and shopName != ''">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="operate != null and operate != ''">
        #{operate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.spring.components.learning.transaction.pojo.JdGoods">
    <!--@mbg.generated-->
    update `jd_goods`
    <set>
      <if test="title != null and title != ''">
        `title` = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleLink != null and titleLink != ''">
        `title_link` = #{titleLink,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null and thumbnail != ''">
        `thumbnail` = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="rate != null and rate != ''">
        `rate` = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null and shopName != ''">
        `shop_name` = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="operate != null and operate != ''">
        `operate` = #{operate,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.spring.components.learning.transaction.pojo.JdGoods">
    <!--@mbg.generated-->
    update `jd_goods`
    set `title` = #{title,jdbcType=VARCHAR},
      `title_link` = #{titleLink,jdbcType=VARCHAR},
      `thumbnail` = #{thumbnail,jdbcType=VARCHAR},
      `rate` = #{rate,jdbcType=VARCHAR},
      `shop_name` = #{shopName,jdbcType=VARCHAR},
      `operate` = #{operate,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update `jd_goods`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`title` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when `id` = #{item.id,jdbcType=INTEGER} then #{item.title,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`title_link` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when `id` = #{item.id,jdbcType=INTEGER} then #{item.titleLink,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`thumbnail` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when `id` = #{item.id,jdbcType=INTEGER} then #{item.thumbnail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`rate` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when `id` = #{item.id,jdbcType=INTEGER} then #{item.rate,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`shop_name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when `id` = #{item.id,jdbcType=INTEGER} then #{item.shopName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`operate` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when `id` = #{item.id,jdbcType=INTEGER} then #{item.operate,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where `id` in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update `jd_goods`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`title` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when `id` = #{item.id,jdbcType=INTEGER} then #{item.title,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`title_link` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.titleLink != null">
            when `id` = #{item.id,jdbcType=INTEGER} then #{item.titleLink,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`thumbnail` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.thumbnail != null">
            when `id` = #{item.id,jdbcType=INTEGER} then #{item.thumbnail,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`rate` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.rate != null">
            when `id` = #{item.id,jdbcType=INTEGER} then #{item.rate,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`shop_name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.shopName != null">
            when `id` = #{item.id,jdbcType=INTEGER} then #{item.shopName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`operate` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.operate != null">
            when `id` = #{item.id,jdbcType=INTEGER} then #{item.operate,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where `id` in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `jd_goods`
    (`title`, `title_link`, `thumbnail`, `rate`, `shop_name`, `operate`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.title,jdbcType=VARCHAR}, #{item.titleLink,jdbcType=VARCHAR}, #{item.thumbnail,jdbcType=VARCHAR}, 
        #{item.rate,jdbcType=VARCHAR}, #{item.shopName,jdbcType=VARCHAR}, #{item.operate,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>